h1 {
    color: #2d2d2d;
    font-size: 35px;
}

h2 {
    color: #2d2d2d;
    font-size: 25px;
    margin-top: 90px;
}

p {
    color: #2d2d2d;
    font-size: 25px;
}

p.margin_top {
    margin-right: 750px;
    margin-top: 110px;
}

p.ex1 {  /*tekst na stronie*/
    margin-left: 28%;
    font-size: 16px;
    text-align: left;
}

p.subtitle {  
    margin-left: 26%;
    font-size: 25px;
    text-align: left;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}
/* TASK BAR*/
.task-bar {
    background-color: #2d2d2d;
    position: absolute; /* wzgledem innych (1) */
    justify-content: space-between; 
    top: 80px;
    left: 19.5%;
    width: 63%;
    display: flex;
    flex-wrap: wrap; /* Elementy się zawijają */
    font-size: 16px;
}

.task-bar a { /*tekst*/
    color: white;
    padding: 21px 23px;
    text-decoration: none;
}

.task-bar a:hover { 
    background-color: #ebecf3ec;
    color: black;
}
/*Search*/
.task-bar .search-form {
    display: flex;
    padding: 4px;
}

.task-bar input[type="text"] {
    margin-top: 7px;
    margin-bottom: 4px;
    font-size: 16px;
}

.task-bar .search-form button {
    padding: 8px 12px;
    margin-top: 7px;
    margin-bottom: 4px;
    background: #ebecf3ec;
    font-size: 17px;
    cursor: pointer;
}

.task-bar .search-form button:hover {
    background: #e9e7e78a;
}

.search-results {
    position: absolute;
    top: 100%; 
    background-color: #ffffffdc;
    width: 100%; 
    z-index: 1000;
}

.search-results a {
    display: block; 
    padding: 9px; 
    text-decoration: none;
    color: #2d2d2d; 
}

/*Login & Sign up*/
.login-form .form-group { /* gdzie hasło i login*/
    margin-bottom: 11px;
}

.login-form label {
    margin-bottom: 3px;
    margin-right: 0.28%;
    color: #333;
}

.login-form input { /*todo*/
    width: 9%;
    margin-right: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.login-form .btn {
    width: 80px;
    padding: 9px;
    background-color: #1a86f9;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-form .btn:hover {
    background-color: #024fa2;
}
/*Photos*/
.main_image {
    max-width: 50%;
    margin-left: 25px;
    margin-top: 17px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 130px;
}

.home_photos {
    border: none;
    max-width: 460px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 25px;
}

.row {
    display: flex;
    flex-direction: row;
}

.photo-container {
    text-align: center;
}

.caption {
    margin-top: 10px;
    font-size: 16px;
    color: #2d2d2d;
    cursor: pointer;
}
/*Comments*/
.comment-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: 28%;
    padding: 10px;
    border-radius: 5px;
}
.comment-form textarea {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 8px;
    height: 100px;
}
.comment-form button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #1a86f9;
    color: #ffffff;
    cursor: pointer;
}
.comment-form button:hover {
    background-color: #024fa2;
} 
.comments {
    max-width: 500px;
    margin-left: 28%;
    padding: 10px;
    text-align: left;
    margin-top: 20px;
    border: 3px solid #cacacad2;
    border-radius: 5px;
}
.comment {
    padding: 10px;
    border-bottom: 1px solid #cacacad2;
}

/* Responsywność */
@media (max-width: 760px) {

    .task-bar {
        flex-direction: column; /* task-bar w kolumne */
        position: static;
        width: 100%;
    }

    .task-bar input[type="text"] {
        width: 80%;
    }

    .task-bar .search-form {
        justify-content: center; 
    }
}
